---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getBlogPermalink } from '~/utils/permalinks';

export const prerender = true;

const metadata = {
  title: 'Find Your Desire - Adult Toys, Sensual Delights, & More | LoveLust',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Explore Your Desires</span><br> Premium Sensual Products & Pleasure Enhancements
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Discover a world of enhanced pleasure with our select online destination. Offering everything from premium adult toys and bondage gear to safer sex essentials, each product is chosen to spice up your intimate experiences. Find the latest in sexual enhancers, luxurious sex furniture, and more, all designed to elevate your sensual journey. With expert insights, make informed choices to enrich your pursuit of pleasure.
      </span>
    </Fragment>
  </Hero>
  

<!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Insights & Innovations in Sensual Pleasure"
  />

</Layout>
